@-webkit-keyframes rotate {
    from {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    }
}

body{
    padding-top: 50px;
    padding-bottom: 50px;
}

/*main1*/

.loading {
    height: 300px;
    background: url(../../common/images/loading.svg) no-repeat center;
    background-size: 60px;
}

.head {
    height: 35px;
    background: #ffbc00;
    color: #fff;
    padding: 0 12px;
    line-height: 35px;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
}

.pageInfo {
    margin: 0 4px;
    padding: 8px 10px;
    font-size: 14px;
    line-height: 28px;
    text-indent: 2em;
    background: #fff;
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.06);
}

.section {
    background: #FFF;
    margin-top: 20px;
    padding: 10px;
}

.section .title {
    height: 16px;
    line-height: 16px;
    font-size: 14px;
    padding-left: 5px;
    border-left: 3px solid #ff6700;
    margin-left: 10px;
    margin-bottom: 10px;
}

.section .title span {
    color: #ababab;
    font-size: 12px;
    float: right;
}

.mint-swipe-items-wrap {
    background: #fff url(../../common/images/loading.svg) no-repeat center;
    background-size: 60px;
}

.mint-swipe-indicators {
    bottom: 3px;
    right: 10px;
    left: auto;
    transform: translateX(0);
    -webkit-transform: translateX(0);
}

.mint-swipe-indicator {
    opacity: 0.35
}

.mint-swipe-item img {
    height: 100%;
    width: 100%;
}

.mint-tabbar {
    background: none;
    background-color: #fff;
    height: 45px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.mint-tabbar>.mint-tab-item.is-selected {
    color: #ff6700;
    background: none;
}

.mint-tab-item {
    padding: 0;
    color: #525c67;
}

.mint-tab-item-icon {
    width: 20px;
    height: 20px;
    margin-top: 6px;
    margin-bottom: 3px;
}

.mint-tab-item-icon .iconfont {
    font-size: 18px;
}

.mint-tabbar {
    position: fixed;
    z-index: 99;
}

.listview {
    margin-top: 20px;
    padding: 0 10px;
    background: #fff;
}

.listview li {
    padding: 15px 0;
    border-bottom: 1px solid #efefef;
    display: -webkit-box;
}

.listview-left {
    width: 120px;
    height: 90px;
    background: url(../../common/images/loading.svg) no-repeat center;
    background-size: 45px;
    margin-right: 15px;
}

.listview-left img {
    width: 100%;
    height: 100%;
}

.listview-right {
    -webkit-box-flex: 1;
    font-size: 15px;
    line-height: 24px;
}

.listview-top {
    height: 75px;
}

.listview-bottom {
    height: 15px;
    line-height: 15px;
    font-size: 12px;
}

.listview-bottom .author {
    float: left;
    color: #f96f38;
}

.listview-bottom .time {
    float: right;
    color: #9099a2;
}

.mint-button--primary{
    display: inline-block;
    width: 47%;
    margin:10px 0;
    font-size: 15px;
    line-height: 34px;
    height: 34px;
    padding: 0;
}
.mint-button--wide{
    width: 80%;
    margin: 10px auto;
    display: block;
}
.scrollWrap{
    overflow-x: hidden;
    overflow-y: scroll;
}
.mui-segmented-control.mui-segmented-control-inverted~.mui-slider-progress-bar{
    background-color: #ff6700;
}
.mui-slider-item.mui-control-content{
    padding-top: 15px;
}
.mui-segmented-control .mui-control-item{
    line-height: 32px;
    font-size: 14px;
}
.mui-slider .mui-segmented-control.mui-segmented-control-inverted~.mui-slider-group .mui-slider-item{
    border-bottom:none;
}
.mui-slider-progress-bar{
    margin-bottom: -1px;
}

.mui-segmented-control.mui-segmented-control-inverted .mui-control-item{
    color: #797e8e;
}

.mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active{
    color: #000;
}
#device .row>p{
    width: 50%;
    text-overflow: ellipsis;
    color: #626269;
}
#device .row>p span{
    color: #8f8f94;
}
.svgButton{
    width: 100px;
    height: 100px;
    position: relative;
}
.svgButton>div{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}
.svgButton svg{
    width: 100%;
    height: 100%;
}
.modalDialog{
    padding-top: 30px;
}
.rprogress {
	background: url(../../common/images/icon/microphone.png) no-repeat center center;
	background-size: 45px 45px;
}
.rschedule {
    background-color: rgba(0,0,0,0);
    border: 3px solid rgba(0,183,229,0.9);
    opacity: .9;
    border-left: 3px solid rgba(0,0,0,0);
    border-right: 3px solid rgba(0,0,0,0);
    border-radius: 50px;
    box-shadow: 0 0 15px #2187e7;
    width: 72px;
    height: 72px;
    margin: 0 auto;
    -webkit-animation: rotate 1s infinite linear;
    animation: rotate 1s infinite linear;
}
.rtime{
    text-align: center;
    margin: 20px auto;
}
.listEmpty{
    text-align: center;
    border-top: 1px solid #dedede;
}
.listEmpty img{
    width: 72px;
    height: 72px;
    margin: 20px auto 0;
}
#audio ul{
    border-top: 1px solid #dedede;
}
.playButton{
    width: 30px;
    height: 30px;
}
#audio>ul>li{
    padding: 5px 10px;
}
.audioInfo{
    -webkit-box-flex: 1;
    line-height: 20px;
    padding-top: 5px;
}
.audioInfo p{
    padding-left: 2px;
    margin: 0;
}