/** iconfont字体图标 **/

@font-face {
	font-family: "iconfont";
	src: url('iconfont.ttf') format('truetype')
}

.iconfont {
	font-family: "iconfont" !important;
	font-size: 22px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-tuijianliebiao:before { content: "\e63c"; }

.icon-yanjing:before { content: "\e661"; }

.icon-ai54:before { content: "\e6ac"; }

.icon-Password:before { content: "\e62c"; }

.icon-yonghu:before { content: "\e636"; }

.icon-yonghuxinxi:before { content: "\e7df"; }

.icon-yonghutouxiang:before { content: "\e602"; }

.icon-guanbi2:before { content: "\e620"; }

.icon-yanjing-bi:before { content: "\e61e"; }

.icon-icon-test:before { content: "\e60c"; }

.icon-guanbi3:before { content: "\e654"; }

.icon-icon-test1:before { content: "\e603"; }

.icon-yonghuguanli:before { content: "\e613"; }

.icon-yonghu1:before { content: "\e671"; }

.icon-tianjiazujian:before { content: "\e62a"; }

.icon-shezhizujian:before { content: "\e630"; }

.icon-close-eye:before { content: "\e79c"; }

.icon-kuozhan:before { content: "\e612"; }

body {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	background: #f3f4f6;
	font-size: 16px;
	line-height: 24px;
}

::-webkit-input-placeholder {
	color: #cdcddd;
	font-size: 15px;
}

ul,li{
	list-style: none;
	padding: 0;
	margin: 0;
}
.mui-toast-container{
    text-align: center;
}
.mui-toast-message{
    background-color:rgba(0,0,0,0.7);
    width: auto;
    max-width: 80%;
    min-width: 100px;
    display: inline-block;
    margin: 0;
    line-height: 16px;
    padding: 10px;
    padding-bottom: 9px;
}
.mui-toast-container.wait .mui-toast-message{
    min-width: 60px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    padding: 0px;
}
.mui-toast-message .mui-spinner{
    display: block;
    margin: 18px;
}
.mint-button:not(.is-disabled):active:after {
    opacity: .1;
}
.mint-button.is-disabled {
    opacity: .3
}
.mint-actionsheet{
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    overflow: hidden;
}
.mint-actionsheet-button, .mint-actionsheet-listitem{
    height: 40px;
    line-height: 40px;
    font-size: 16px;
}
.mui-dtpicker-header .mui-btn,.mui-poppicker-header .mui-btn{
    width: 50%;
    box-sizing: border-box;
    font-size:14px;
    height: 24px;
    line-height: 24px;
    padding: 0;
    text-align: center;
    background: none;
    border:none;
    border-radius: 0;
    letter-spacing: 1px;
    padding-right: 3px;
    padding-top: 1px;
}
.mui-dtpicker-header .mui-btn-blue,.mui-poppicker-header .mui-btn.mui-poppicker-btn-ok{
    color: #007aff;
    border-left: 1px solid #dedede;
    padding-left: 3px;
    padding-right: 0;
}

.row{
    display: -webkit-box;
}