<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>主页</title>
    <link href="../../libs/mui/mui.min.css" rel="stylesheet" />
    <link href="../../libs/mint-ui/style.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="../../libs/mui/mui.picker.min.css" />
    <link href="../common/css/style.css" rel="stylesheet" />
    <link href="css/main.css" rel="stylesheet" />
    <style>

    </style>
</head>

<body>
    <div class="head">
        H5 PLUS
    </div>
    <div id="main">
        <mt-tab-container v-model="tab">
            <!----- tab1：第一个tab页 ----->
            <mt-tab-container-item id="tab1">

                <mt-loadmore :bottom-distance="30" bottom-loading-text="" bottom-drop-text="" bottom-pull-text="" :bottom-method="loadBottom"
                    :bottom-all-loaded="tab1.allLoaded" :auto-fill="false" ref="loadmore">
                    <!--轮播banner-->
                    <mt-swipe :auto="2000" v-bind:style="{height:tab1.bannerHeight+'px'}">
                        <mt-swipe-item v-for="item in tab1.banner" :key="item.id">
                            <img :src="item.picUrl" @tap="bannerClick(item.linkUrl)">
                        </mt-swipe-item>
                    </mt-swipe>
                    <!--轮播banner 结束-->

                    <!--图文列表-->
                    <div class="loading" v-if="tab1.loading"></div>
                    <ul class="listview">
                        <li v-for="item in tab1.news" @tap="toNewsDetail(item)">
                            <div class="listview-left">
                                <img :src="item.cover">
                            </div>
                            <div class="listview-right">
                                <div class="listview-top">
                                    <div class="mui-ellipsis-2">{{item.title}}</div>
                                </div>
                                <div class="listview-bottom">
                                    <div class="author">{{item.author}}</div>
                                    <div class="time">{{item.time}}</div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </mt-loadmore>
                <!--图文列表 结束-->
            </mt-tab-container-item>

            <!-- tab2 -->
            <mt-tab-container-item id="tab2">
                <div class="pageInfo">
                    基于前端技术和Html5+ SDK 搭建的多页面app，多webview的窗口管理模式，可以调用各系统和第三方API，包括原生UI、摄像头和照片、第三方登陆和支付等等
                </div>
                <div class="section">
                    <div class="title">选择器</div>
                    <div>
                        <button type="button" class="mint-button mint-button--primary" @click="tab2.showPicker1=true">操作表</button>
                        <button type="button" class="mint-button mint-button--primary" @tap="showPicker2" style="margin-left: 4%;">选择器</button>
                        <button type="button" class="mint-button mint-button--primary" @tap="showPicker3">地域选择</button>
                        <button type="button" class="mint-button mint-button--primary" @tap="showPicker4" style="margin-left: 4%;">时间选择</button>
                    </div>
                    <mt-actionsheet :actions="tab2.actionsheet" v-model="tab2.showPicker1"></mt-actionsheet>
                </div>
                <div class="section">
                    <div id="slider" class="mui-slider">
                        <div id="sliderSegmentedControl" class="mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
                            <a class="mui-control-item mui-active" href="#item1mobile">
                                圆饼图
                            </a>
                            <a class="mui-control-item" href="#item2mobile">
                                折线图
                            </a>
                            <a class="mui-control-item" href="#item3mobile">
                                柱状图
                            </a>
                        </div>
                        <div id="sliderProgressBar" class="mui-slider-progress-bar mui-col-xs-4"></div>
                        <div class="mui-slider-group">
                            <div id="item1mobile" class="mui-slider-item mui-control-content mui-active">
                                <div id="chart1" v-bind:style="tab2.chartStyle"></div>
                            </div>
                            <div id="item2mobile" class="mui-slider-item mui-control-content">
                                <div class="loading" v-if="!tab2.chart2init"></div>
                                <div id="chart2" v-show="tab2.chart2init" v-bind:style="tab2.chartStyle"></div>
                            </div>
                            <div id="item3mobile" class="mui-slider-item mui-control-content">
                                <div class="loading" v-if="!tab2.chart3init"></div>
                                <div id="chart3" v-show="tab2.chart3init" v-bind:style="tab2.chartStyle"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section">
                    <div class="title">音频</div>
                    
                </div>

            </mt-tab-container-item>

            <!-- tab3 -->
            <mt-tab-container-item id="tab3">3</mt-tab-container-item>

            <!-- tab4 -->
            <mt-tab-container-item id="tab4">4</mt-tab-container-item>
        </mt-tab-container>
        <mt-tabbar v-model="tab">
            <mt-tab-item id="tab1">
                <span slot="icon" class="mui-icon iconfont icon-tuijianliebiao"></span>发现
            </mt-tab-item>
            <mt-tab-item id="tab2">
                <span slot="icon" class="mui-icon iconfont icon-icon-test1"></span>组件
            </mt-tab-item>
            <mt-tab-item id="tab3">
                <span slot="icon" class="mui-icon iconfont icon-kuozhan"></span>扩展
            </mt-tab-item>
            <mt-tab-item id="tab4">
                <span slot="icon" class="mui-icon iconfont icon-yonghutouxiang"></span>我的
            </mt-tab-item>
        </mt-tabbar>
    </div>
    <script src="../../libs/mui/mui.js"></script>
    <script src="../../libs/vue/vue.js"></script>
    <script src="../../libs/mint-ui/index.js"></script>
    <script src="../../libs/mui/mui.picker.min.js"></script>
    <script src="../../libs/echarts/echarts.min.js"></script>
    <script src="../common/js/common.js"></script>
    <script src="../common/js/router.js"></script>
    <script src="js/city.data.js"></script>
    <script src="js/main.js"></script>
</body>

</html>
